<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/plugins/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/plugins/font-awesome/css/font-awesome.min.css'/>


</head>
<body>
{{> header}}
<div class="container">
    {{{body}}}
</div>


<script src="/plugins/jquery/dist/jquery.min.js"></script>
<script src="/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
